<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated power -->
      <editor
            id="de.fzi.power.binding.presentation.BindingEditorID"
            name="%_UI_BindingEditor_label"
            icon="icons/full/obj16/BindingModelFile.gif"
            extensions="binding"
            class="de.fzi.power.binding.presentation.BindingEditor"
            contributorClass="de.fzi.power.binding.presentation.BindingActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated power -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.fzi.power.infrastructure.presentation.InfrastructureModelWizardID"
            name="%_UI_InfrastructureModelWizard_label"
            class="de.fzi.power.infrastructure.presentation.InfrastructureModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/InfrastructureModelFile.gif">
         <description>%_UI_InfrastructureModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated power -->
      <editor
            id="de.fzi.power.infrastructure.presentation.InfrastructureEditorID"
            name="%_UI_InfrastructureEditor_label"
            icon="icons/full/obj16/InfrastructureModelFile.gif"
            extensions="infrastructure"
            class="de.fzi.power.infrastructure.presentation.InfrastructureEditor"
            contributorClass="de.fzi.power.infrastructure.presentation.InfrastructureActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated power -->
      <editor
            id="de.fzi.power.specification.presentation.SpecificationEditorID"
            name="%_UI_SpecificationEditor_label"
            icon="icons/full/obj16/SpecificationModelFile.gif"
            extensions="spec,specification"
            class="de.fzi.power.specification.presentation.SpecificationEditor"
            contributorClass="de.fzi.power.specification.presentation.SpecificationActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated power -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.fzi.power.binding.presentation.BindingModelWizardID"
            name="%_UI_BindingModelWizard_label"
            class="de.fzi.power.binding.presentation.BindingModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/BindingModelFile.gif">
         <description>%_UI_BindingModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated power -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.fzi.power.util.presentation.UtilModelWizardID"
            name="%_UI_UtilModelWizard_label"
            class="de.fzi.power.util.presentation.UtilModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/UtilModelFile.gif">
         <description>%_UI_UtilModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated power -->
      <editor
            id="de.fzi.power.util.presentation.UtilEditorID"
            name="%_UI_UtilEditor_label"
            icon="icons/full/obj16/UtilModelFile.gif"
            extensions="util"
            class="de.fzi.power.util.presentation.UtilEditor"
            contributorClass="de.fzi.power.util.presentation.UtilActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated power -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.fzi.power.state.presentation.StateModelWizardID"
            name="%_UI_StateModelWizard_label"
            class="de.fzi.power.state.presentation.StateModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/StateModelFile.gif">
         <description>%_UI_StateModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated power -->
      <editor
            id="de.fzi.power.state.presentation.StateEditorID"
            name="%_UI_StateEditor_label"
            icon="icons/full/obj16/StateModelFile.gif"
            extensions="state"
            class="de.fzi.power.state.presentation.StateEditor"
            contributorClass="de.fzi.power.state.presentation.StateActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated power -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.fzi.power.specification.presentation.SpecificationModelWizardID"
            name="%_UI_SpecificationModelWizard_label"
            class="de.fzi.power.specification.presentation.SpecificationModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/SpecificationModelFile.gif">
         <description>%_UI_SpecificationModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

</plugin>
