<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="de.fzi.power.interpreter.measureprovider.extendedmeasureprovider" name="Extended Measure Provider Extension Point" schema="schema/de.fzi.power.interpreter.measureprovider.extendedmeasureprovider.exsd"/>
   <extension-point id="de.fzi.power.interpreter.calculators.calculatorfactory" name="Power Model Calculator Factory Extension Point" schema="schema/de.fzi.power.interpreter.calculators.calculatorfactory.exsd"/>
   <extension
         point="de.uka.ipd.sdq.workflow.job">
   </extension>

</plugin>
