<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated metrictocsvmapping -->
      <package
            uri="http://www.fzi.de/ProfilingImport/1.0"
            class="de.fzi.power.profilingimport.mapping.MappingPackage"
            genModel="model/metrictocsvmapping.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated metrictocsvmapping -->
      <parser
            type="mapping"
            class="de.fzi.power.profilingimport.mapping.util.MappingResourceFactoryImpl"/>
   </extension>
</plugin>
